html {
  font-family: sans-serif;
  font-size: 24px;
  color: black;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.extext {
  font-size: 24px;
  float: left;
  width: 800px;
  height: 50px;
}
#m1,
#m2,
#m3,
#m4,
#m10,
#m11,
#m12,
#m13,
#m14,
#m20,
#m21,
#m22,
#m23,
#m24,
#m30,
#m31,
#m32,
#m33,
#m34,
#m40,
#m41,
#m42,
#m43,
#m44,
#m50,
#m51,
#m52,
#m53,
#m54,
#m60,
#m61,
#m62,
#m63,
#m64,
#m70,
#m71,
#m72,
#m73,
#m74,
#m80, .e1 {
  width: 50px;
  height: 50px;
  border: 2px solid rgb(150, 150, 150);
  float: left;
  margin: 0px 10px 0px 10px;
}

#m5,
#m6,
#m7,
#m15,
#m16,
#m17,
#m25,
#m26,
#m27,
#m35,
#m36,
#m37,
#m45,
#m46,
#m47,
#m55,
#m56,
#m57,
#m65,
#m66,
#m67,
#m75,
#m76,
#m77, .e2 {
  width: 75px;
  height: 50px;
  border: 2px solid rgb(150, 150, 150);
  float: left;
  margin: 0px 10px 0px 10px;
}

#m8,
#m9,
#m18,
#m19,
#m28,
#m29,
#m38,
#m39,
#m48,
#m49,
#m58,
#m59,
#m68,
#m69,
#m78,
#m79, .e3 {
  width: 100px;
  height: 50px;
  border: 2px solid rgb(150, 150, 150);
  float: left;
  margin: 0px 10px 0px 10px;
}

#m10,
#m20,
#m30,
#m40,
#m50,
#m60,
#m70,
#m80, .e4 {
  width: 125px;
  height: 50px;
  border: 2px solid rgb(150, 150, 150);
  float: left;
  margin: 0px 10px 0px 10px;
}

.g1div,
.g2div,
.g3div,
.g4div
{
  height: 60px;
  width: 312.5px;
  text-align: center;
  line-height: 50px;
  color: black;
  font-size: 32px;
}

.e1div,
.e2div,
.e3div,
.e4div
{
  height: 60px;
  width: 1100px;
  text-align: center;
  line-height: 50px;
  color: black;
  font-size: 32px;  
}

.g2div,
.e2div {
  padding: 0px 2.5px; 
}

.g3div,
.e3div {
  padding: 0px 25px;
}

.g4div,
.e4div {
  padding: 0px 75px;
}


#e5 {
  background-color: rgb(0, 175, 0);
  color: white;
}

#e6 {
  background-color: rgb(200, 200, 0);
  color: white;
}

#e7 {
  background-color: rgb(150, 150, 150);
  color: white;
}

#e8 {
  background-color: rgb(0, 0, 0);
  color: white;
}
#guess1,
#guess2,
#guess3,
#guess4,
#guess5,
#guess6,
#guess7,
#guess8 {
  float: left;
  width: 312.5px;
  height: 250px;
  border: 1px solid rgb(150, 150, 150);
  padding-left: 5px;
  padding-top: 12.5px;
}
#eg1 {
  float: left;
  width: 1280px;
  height: 250px;
  border: 1px solid rgb(150, 150, 150);
  padding-left: 5px;
  padding-top: 12.5px;
  margin-bottom: 25px;
}

#main {
  width: 1300px;
  margin: auto;
}

#tutorial {
  position: absolute;
  width: 1300px;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: white;
  z-index: 67;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  overflow-y: auto;
  max-height: 100%;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

#example {
  width: 312.5px;
  margin: auto;
}
#title {
  -webkit-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}
#title,
#warning {
  text-align: center;
}

#keys {
  width: 1300px;
  height: 75px;
  margin: auto;
  padding-left: 250.5px;
  top: 925px;
}

.key {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: none;
  float: left;
  font-size: 32px;
  background-color: rgb(225, 225, 225);
  margin: 0px 5px;
}

#bs {
  width: 175px;
}

#ent {
  width: 100px;
}

a {
  color: rgb(0, 150, 250);
  text-decoration: underline;
}

.px {
  font-size: 32px;
}


/* Animation Classes */


@keyframes flip0 {
  0% {
    background-color: white;
    transform: (1, 1);
    color: black;
  }

  49.99% {
    transform: scale(1, 0);
    background-color: white;
    color: black;
  }

  50.01% {
    transform: scale(1, 0);
    background-color: rgb(150, 150, 150);
    color: white;
  }

  100% {
    background-color: rgb(150, 150, 150);
    transform: (1, 1);
    color: white;
  }
}

@keyframes flip1 {
  0% {
    background-color: white;
    transform: (1, 1);
    color: black;
  }

  49.99% {
    transform: scale(1, 0);
    background-color: white;
    color: black;
  }

  50.01% {
    transform: scale(1, 0);
    background-color: rgb(200, 200, 0);
    color: white;
  }

  100% {
    background-color: rgb(200, 200, 0);
    transform: (1, 1);
    color: white;
  }
}

@keyframes flip2 {
  0% {
    background-color: white;
    transform: (1, 1);
    color: black;
  }

  49.99% {
    transform: scale(1, 0);
    background-color: white;
    color: black;
  }

  50.01% {
    transform: scale(1, 0);
    background-color: rgb(0, 175, 0);
    color: white;
  }

  100% {
    background-color: rgb(0, 175, 0);
    transform: (1, 1);
    color: white;
  }
}

@keyframes flip3 {
  0% {
    background-color: white;
    transform: (1, 1);
    color: black;
  }

  49.99% {
    transform: scale(1, 0);
    background-color: white;
    color: black;
  }

  50.01% {
    transform: scale(1, 0);
    background-color: rgb(0, 100, 250);
    color: white;
  }

  100% {
    background-color: rgb(0, 100, 250);
    transform: (1, 1);
    color: white;
  }
}

@keyframes flip3 {
  0% {
    background-color: white;
    transform: (1, 1);
    color: black;
  }

  49.99% {
    transform: scale(1, 0);
    background-color: white;
    color: black;
  }

  50.01% {
    transform: scale(1, 0);
    background-color: rgb(0, 100, 250);
    color: white;
  }

  100% {
    background-color: rgb(0, 100, 250);
    transform: (1, 1);
    color: white;
  }
}

@keyframes flip6 {
  0% {
    background-color: white;
    transform: (1, 1);
    color: black;
  }

  49.99% {
    transform: scale(1, 0);
    background-color: white;
    color: black;
  }

  50.01% {
    transform: scale(1, 0);
    background-color: rgb(0, 0, 0);
    color: white;
  }

  100% {
    background-color: rgb(0, 0, 0);
    transform: (1, 1);
    color: white;
  }
}
@keyframes solve {
  0% {
    background-color: rgb(0, 100, 250);
    margin-top: 0px;
    margin-bottom: 0px;
  }

  50% {
    background-color: rgb(0, 100, 250);
    margin-top: -20px;
    margin-bottom: 20px;
  }

  100% {
    background-color: rgb(0, 100, 250);
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
@keyframes solve11 {
  0% {
    background-color: rgb(0, 0, 0);
    margin-top: 0px;
    margin-bottom: 0px;
  }

  50% {
    background-color: rgb(0, 0, 0);
    margin-top: -20px;
    margin-bottom: 20px;
  }

  100% {
    background-color: rgb(0, 0, 0);
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
.flip0 {
  animation-duration: 0.3s;
  animation-name: flip0;
  animation-timing-function: linear;
  background-color: rgb(150, 150, 150);
  transform: (1, 1);
  color: white;
}

.flip1 {
  animation-duration: 0.3s;
  animation-name: flip1;
  animation-timing-function: linear;
  background-color: rgb(200, 200, 0);
  transform: (1, 1);
  color: white;
}

.flip2 {
  animation-duration: 0.3s;
  animation-name: flip2;
  animation-timing-function: linear;
  background-color: rgb(0, 175, 0);
  transform: (1, 1);
  color: white;
}

.flip3 {
  animation-duration: 0.3s;
  animation-name: flip3;
  animation-timing-function: linear;
  background-color: rgb(0, 100, 250);
  transform: (1, 1);
  color:white;
}

.flip6 {
  animation-duration: 0.3s;
  animation-name: flip6;
  animation-timing-function: linear;
  background-color: rgb(0, 0, 0);
  transform: (1, 1);
  color: white;
}
.solve1 {
  animation-duration: 0.5s;
  animation-name: solve;
  animation-timing-function: ease-in-out-quad;
  background-color: rgb(0, 100, 250);
  transform: (1, 1);
  color: white;
}
.solve2 {
  animation-duration: 0.5s;
  animation-delay: 0.05s;
  animation-name: solve;
  animation-timing-function: ease-in-out-quad;
  background-color: rgb(0, 100, 250);
  transform: (1, 1);
  color: white;
}
.solve3 {
  animation-duration: 0.5s;
  animation-delay: 0.1s;
  animation-name: solve;
  animation-timing-function: ease-in-out-quad;
  background-color: rgb(0, 100, 250);
  transform: (1, 1);
  color: white;
}
.solve4 {
  animation-duration: 0.5s;
  animation-delay: 0.15s;
  animation-name: solve;
  animation-timing-function: ease-in-out-quad;
  background-color: rgb(0, 100, 250);
  transform: (1, 1);
  color: white;
}
.solve5 {
  animation-duration: 0.5s;
  animation-delay: 0.2s;
  animation-name: solve;
  animation-timing-function: ease-in-out-quad;
  background-color: rgb(0, 100, 250);
  transform: (1, 1);
  color: white;
}
.solve6 {
  animation-duration: 0.5s;
  animation-delay: 0.25s;
  animation-name: solve;
  animation-timing-function: ease-in-out-quad;
  background-color: rgb(0, 100, 250);
  transform: (1, 1);
  color: white;
}
.solve7 {
  animation-duration: 0.5s;
  animation-delay: 0.3s;
  animation-name: solve;
  animation-timing-function: ease-in-out-quad;
  background-color: rgb(0, 100, 250);
  transform: (1, 1);
  color: white;
}
.solve8 {
  animation-duration: 0.5s;
  animation-delay: 0.35s;
  animation-name: solve;
  animation-timing-function: ease-in-out-quad;
  background-color: rgb(0, 100, 250);
  transform: (1, 1);
  color: white;
}
.solve9 {
  animation-duration: 0.5s;
  animation-delay: 0.4s;
  animation-name: solve;
  animation-timing-function: ease-in-out-quad;
  background-color: rgb(0, 100, 250);
  transform: (1, 1);
  color: white;
}
.solve10 {
  animation-duration: 0.5s;
  animation-delay: 0.45s;
  animation-name: solve;
  animation-timing-function: ease-in-out-quad;
  background-color: rgb(0, 100, 250);
  transform: (1, 1);
  color: white;
}
.solve11 {
  animation-duration: 0.5s;
  animation-name: solve11;
  animation-timing-function: ease-in-out-quad;
  background-color: rgb(0,0,0);
  transform: (1, 1);
  color: white;
}
.solve12 {
  animation-duration: 0.5s;
  animation-delay: 0.05s;
  animation-name: solve11;
  animation-timing-function: ease-in-out-quad;
  background-color: rgb(0,0,0);
  transform: (1, 1);
  color: white;
}
.solve13 {
  animation-duration: 0.5s;
  animation-delay: 0.1s;
  animation-name: solve11;
  animation-timing-function: ease-in-out-quad;
  background-color: rgb(0,0,0);
  transform: (1, 1);
  color: white;
}
.solve14 {
  animation-duration: 0.5s;
  animation-delay: 0.15s;
  animation-name: solve11;
  animation-timing-function: ease-in-out-quad;
  background-color: rgb(0,0,0);
  transform: (1, 1);
  color: white;
}
#stats1, #stats2, #stats3, #stats4, #stats5, #stats6, #stats7, #stats8, #stats9 {
  height: auto;
  text-align: right;
  color: white;
  background-color: rgb(150,150,150);
  float: left;
  margin-top: 6.5px;
}
.stats {
  height: auto;
  float: left;
  width: 37px;
  margin-top: 6.5px !important;
}
#statsdiv {
  width: 600px;
  margin: auto;
  padding-bottom: 10px;
}
.statsdivs {
  width: 590px;
  display: block;
  height: 42px;
}
@keyframes popanim {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
@keyframes popanim2 {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.popanim {
  animation-duration: 2.5s;
  animation-name: popanim;
  animation-timing-function: ease-in-out;
  position: absolute;
  width: auto;
  height: auto;
  padding: 10px 10px 10px 10px;
  top: 75px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 69;
  text-align: center;
  color: white;
  background-color: rgb(125,125,125);
}
.popanim2 {
  animation-duration: 1s;
  animation-name: popanim2;
  animation-timing-function: ease-in-out;
  position: absolute;
  width: auto;
  height: auto;
  padding: 10px 10px 10px 10px;
  top: 75px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 69;
  text-align: center;
  color: white;
  background-color: rgb(125,125,125);
}
#copystats {
  transition-duration: 0.3s;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 250px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(0,100,250);
  color: white;
}
#copystats:hover {
  background-color: rgb(0,75,188);
}
.k {
  float: left;
  height: 44px;
  width: 44px;
  border: 3px solid rgb(150,150,150);
  color: black;
  background-color: white;
  text-align: center;
  line-height: 44px;
}
#keys {
  width: 1250px;
  height: 60px;
  position: absolute;
  top: 625px;
  padding-right: 0px;
  padding-left: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
}
#c0 {
  color: rgb(150,150,150);
}
#c1 {
  color: rgb(200,200,0);
}
#c2 {
  color: rgb(0,175,0);
}
#c3 {
  color: rgb(0,100,250);
}
/*New*/
#c4 {
  color: rgb(150,0,250);
}
/*Calculator Div Stuff*/
.ckey {
  width: 150px;
  height: 50px;
  border: 4px solid rgb(150,150,150);
  text-align: center;
  line-height: 50px;
  float: left;
  background-color: white;
  color: black;
}
.ckey:active {
  background-color: rgb(150,150,150);
  color: white;
}
.cdiv {
  width: 474px;
  height: 57px;
  line-height: 54px;
}
#calcdiv {
  width: 470px;
  height: 471px;
  left: 50%;
  transform: translate(-50%, 0%);
  position: absolute;
  font-size: 28px;
}
#enter:active, #ans:active {
  background-color: rgb(0,175,0);
}
#enter, #ans {
  border: 4px solid rgb(0,175,0);
}
#factor {
  border: 4px solid rgb(0,100,250);
}
#factor:active {
  background-color: rgb(0,100,250);
}
#mult:active, #divide:active {
  background-color: rgb(200,200,0);
}
#mult, #divide {
  border: 4px solid rgb(200,200,0);
}
#cin, #cout {
  border: 4px solid rgb(150,150,150);
  width: 455px;
}
#cin {
  text-align: left;
  padding-left: 10px;
  max-width: 455px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
#cout {
  text-align: right;
  padding-right: 10px;
  max-width: 455px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
#clear1:active,#clear2:active,#clear3:active {
  background-color: rgb(200,0,0);
}
#clear1,#clear2,#clear3 {
  border: 4px solid rgb(200,0,0);
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
#px32 {
  font-size: 32px;
}
