html {
	background-color: rgb(50, 50, 50);
	color: white;
	font-family: Roboto;
}
div#totaldiv div.mainbar {
	position: fixed;
}
div#totaldiv div.mainbar button.topbar {
	width: 200px;
	height: 50px;
	background-color: rgb(50, 50, 50);
	border-radius: 10px;	
	border: 2px solid rgb(150, 150, 150);
	transition-duration: 0.25s;
	float: left;
}
div#totaldiv div.mainbar button.topbar:hover {
	background-color: rgb(150, 150, 150);
}
div#totaldiv div#mainbar1 {
	top: 10px;
	left: 10px;
}
div#totaldiv div#mainbar2 {
	top: 10px;
	left: 210px;
}
div#totaldiv div#mainbar3 {
	top: 10px;
	left: 410px;
}
div#totaldiv div#mainbar4 {
	top: 10px;
	left: 610px;
}