html {
	background-color: rgb(25, 25, 25);
	font-family: Roboto;
}
div#totaldiv {
	position: static;
}
div#totaldiv div.mainbar {
	position: absolute;
}
div#totaldiv div.mainbar button.topbar {
	width: 200px;
	height: 50px;
	background-color: rgb(25, 25, 25);
	border-radius: 10px;	
	border: 4px solid rgb(150, 150, 150);
	transition-duration: 0.25s;
	float: left;
	color: white;
}
div#totaldiv div.mainbar button.topbar:hover {
	background-color: rgb(150, 150, 150);
}
div#totaldiv div#mainbar1 {
	top: 10px;
	left: 10px;
}
div#totaldiv div#mainbar2 {
	top: 10px;
	left: 210px;
}
div#totaldiv div#mainbar3 {
	top: 10px;
	left: 410px;	
}
div#totaldiv div#mainbar4 {
	top: 10px;
	left: 610px;
}